<!DOCTYPE html>
<html>
    <head>
        <title>Authorized Center</title>
            <!-- <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'> -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="../public/css/style.css">
          <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
          <script src="../node_modules/web3/dist/web3.min.js"></script>  
        <script src="../public/js/division.js"></script>
    </head>
    <body>
      <img src="../public/img/blockchain-logo.jpg" width="300px" style="margin-top: -3rem;">
      <h3 style="margin-top: -2rem; color: gray;">Blockchain Based -PPE Distribution Network</h3>
       
      <hr/>
      <div class="container">

        <div class="card"  style="margin-top: 4rem;">
          <div class="card-body">
              <p>Division<p>
              <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
          </div>
        
          <h5>Your Account!</h5>

          <hr/>
          <br/>
            <div id="content">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Your ID</th>
                      <th scope="col">Your Center</th>
                      <th scope="col">Balance of PPE</th>
                    </tr>
                  </thead>
                  <tbody id="distributionResult">
                  </tbody>
                </table>
                <hr/>
                <h4>Distribute Section</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Receiver ID</th>
                      <th scope="col">Center Name</th>
                      <th scope="col">PPE Sent</th>
                    </tr>
                  </thead>
                  <tbody id="distributionResult1">
                  </tbody>
                  <tbody id="distributionResult2">
                  </tbody>
                  
                </table>
      
            <hr/>
            <form>
            
              <div class="form-group">
                  <label for="centerSelect">Select Center</label>
                  <select class="form-control" id="centerSelects">
                  </select>

                  <label for="amountSelects">Enter Amount</label>
                  <input class="form-control" id= "amountSelects" type = number placeholder="Not less than 100">
                  <a href="#" onclick="sendTransaction()" class="btn btn-success">---Send---</a>
  
                  <br/> <br>
                  <hr>
                  <select class="form-control" id="centerSelect">
                  </select>
                  
                  <label for="amountSelect">Enter Amount</label>
                  <input class="form-control" id= "amountSelect" type = number placeholder="Not less than 100">
                  <a href="#" onclick="sendTransactions()" class="btn btn-success">---Send---</a>
  
                  <p id="accountAddress" class="text-center">Your account: </p>
          </form>
          </div>
          <div id="content2">
            
          </div>
        </div>   
    </body>
</html>