
h3{
    margin: -7rem 0 0 0;
    text-align: center;
}

h5{
    text-align: center;
}

h4{
    text-align: center;
    color: green;
}

.combo{
    width: 300px;
    margin: 2rem 0 0 0;
    background-color: cornflowerblue;
}

.loginDiv{
    width: 300px;
    height: 300px;
    margin: -20rem 0 0 30rem;
}
.disDiv{
    width: 300px;
}
.regDiv{
    width: 400px;
    margin: 2rem 0 0 22rem;
    border-radius: 2rem;
}
